body {
  margin: 10px;
}

img {
    width: 1000px;
    height: 1000px;
    float: left;
    object-fit: cover;
  }
  
video {
    width: 400px;
  }

ul {
    list-style-type: square;
  }

table,
td,
th {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }

tfoot {
    text-align: left;
  }

div.product {
    background-color: gold;
    width: 300px;
  }

.highlight {
    background-color: gold;
  }