<section class="block">
  <header class="block__header">
    <h2>What our customer are saying?</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui sit sequi
      cumque ipsa suscipit sapiente ea itaque earum officiis excepturi.
    </p>
  </header>
  <div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img src="images/picture.jpg" alt="Landscape" />
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro
          consequuntur deserunt aliquid voluptates, praesentium quasi
          consectetur a veritatis minima iste?
        </p>
        <footer>
          <div class="media">
            <div class="media__body">
              <h3 class="media_title quote__author">Louis</h3>
              <p class="quote__organization">ABC Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>

  <div class="container"></div>
</section>
